./sqlite_DB/build/
JOEL/eje13_poly/polinomios.mdj
sqlite_DB/build/cmake_install.cmake
sqlite_DB/build/CMakeCache.txt
sqlite_DB/build/Makefile
sqlite_DB/build/sqlitedb_testing_create
sqlite_DB/build/sqlitedb_testing_delete
sqlite_DB/build/sqlitedb_testing_insert
sqlite_DB/build/sqlitedb_testing_open
sqlite_DB/build/sqlitedb_testing_select
sqlite_DB/build/sqlitedb_testing_update
sqlite_DB/build/test.db
sqlite_DB/build/CMakeFiles/cmake.check_cache
sqlite_DB/build/CMakeFiles/CMakeDirectoryInformation.cmake
sqlite_DB/build/CMakeFiles/CMakeError.log
sqlite_DB/build/CMakeFiles/CMakeOutput.log
sqlite_DB/build/CMakeFiles/Makefile.cmake
sqlite_DB/build/CMakeFiles/Makefile2
sqlite_DB/build/CMakeFiles/progress.marks
sqlite_DB/build/CMakeFiles/TargetDirectories.txt
sqlite_DB/build/CMakeFiles/3.25.2/CMakeCCompiler.cmake
sqlite_DB/build/CMakeFiles/3.25.2/CMakeCXXCompiler.cmake
sqlite_DB/build/CMakeFiles/3.25.2/CMakeDetermineCompilerABI_C.bin
sqlite_DB/build/CMakeFiles/3.25.2/CMakeDetermineCompilerABI_CXX.bin
sqlite_DB/build/CMakeFiles/3.25.2/CMakeSystem.cmake
sqlite_DB/build/CMakeFiles/3.25.2/CompilerIdC/CMakeCCompilerId.c
sqlite_DB/build/CMakeFiles/3.25.2/CompilerIdC/CMakeCCompilerId.o
sqlite_DB/build/CMakeFiles/3.25.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
sqlite_DB/build/CMakeFiles/3.25.2/CompilerIdCXX/CMakeCXXCompilerId.o
sqlite_DB/build/CMakeFiles/sqlitedb_testing_create.dir/build.make
sqlite_DB/build/CMakeFiles/sqlitedb_testing_create.dir/cmake_clean.cmake
sqlite_DB/build/CMakeFiles/sqlitedb_testing_create.dir/compiler_depend.make
sqlite_DB/build/CMakeFiles/sqlitedb_testing_create.dir/compiler_depend.ts
sqlite_DB/build/CMakeFiles/sqlitedb_testing_create.dir/create_db.cpp.o
sqlite_DB/build/CMakeFiles/sqlitedb_testing_create.dir/create_db.cpp.o.d
sqlite_DB/build/CMakeFiles/sqlitedb_testing_create.dir/depend.make
sqlite_DB/build/CMakeFiles/sqlitedb_testing_create.dir/DependInfo.cmake
sqlite_DB/build/CMakeFiles/sqlitedb_testing_create.dir/flags.make
sqlite_DB/build/CMakeFiles/sqlitedb_testing_create.dir/link.txt
sqlite_DB/build/CMakeFiles/sqlitedb_testing_create.dir/progress.make
sqlite_DB/build/CMakeFiles/sqlitedb_testing_delete.dir/build.make
sqlite_DB/build/CMakeFiles/sqlitedb_testing_delete.dir/cmake_clean.cmake
sqlite_DB/build/CMakeFiles/sqlitedb_testing_delete.dir/compiler_depend.make
sqlite_DB/build/CMakeFiles/sqlitedb_testing_delete.dir/compiler_depend.ts
sqlite_DB/build/CMakeFiles/sqlitedb_testing_delete.dir/delete_db.cpp.o
sqlite_DB/build/CMakeFiles/sqlitedb_testing_delete.dir/delete_db.cpp.o.d
sqlite_DB/build/CMakeFiles/sqlitedb_testing_delete.dir/depend.make
sqlite_DB/build/CMakeFiles/sqlitedb_testing_delete.dir/DependInfo.cmake
sqlite_DB/build/CMakeFiles/sqlitedb_testing_delete.dir/flags.make
sqlite_DB/build/CMakeFiles/sqlitedb_testing_delete.dir/link.txt
sqlite_DB/build/CMakeFiles/sqlitedb_testing_delete.dir/progress.make
sqlite_DB/build/CMakeFiles/sqlitedb_testing_insert.dir/build.make
sqlite_DB/build/CMakeFiles/sqlitedb_testing_insert.dir/cmake_clean.cmake
sqlite_DB/build/CMakeFiles/sqlitedb_testing_insert.dir/compiler_depend.make
sqlite_DB/build/CMakeFiles/sqlitedb_testing_insert.dir/compiler_depend.ts
sqlite_DB/build/CMakeFiles/sqlitedb_testing_insert.dir/depend.make
sqlite_DB/build/CMakeFiles/sqlitedb_testing_insert.dir/DependInfo.cmake
sqlite_DB/build/CMakeFiles/sqlitedb_testing_insert.dir/flags.make
sqlite_DB/build/CMakeFiles/sqlitedb_testing_insert.dir/insert_db.cpp.o
sqlite_DB/build/CMakeFiles/sqlitedb_testing_insert.dir/insert_db.cpp.o.d
sqlite_DB/build/CMakeFiles/sqlitedb_testing_insert.dir/link.txt
sqlite_DB/build/CMakeFiles/sqlitedb_testing_insert.dir/progress.make
sqlite_DB/build/CMakeFiles/sqlitedb_testing_open.dir/build.make
sqlite_DB/build/CMakeFiles/sqlitedb_testing_open.dir/cmake_clean.cmake
sqlite_DB/build/CMakeFiles/sqlitedb_testing_open.dir/compiler_depend.make
sqlite_DB/build/CMakeFiles/sqlitedb_testing_open.dir/compiler_depend.ts
sqlite_DB/build/CMakeFiles/sqlitedb_testing_open.dir/depend.make
sqlite_DB/build/CMakeFiles/sqlitedb_testing_open.dir/DependInfo.cmake
sqlite_DB/build/CMakeFiles/sqlitedb_testing_open.dir/flags.make
sqlite_DB/build/CMakeFiles/sqlitedb_testing_open.dir/link.txt
sqlite_DB/build/CMakeFiles/sqlitedb_testing_open.dir/open_db.cpp.o
sqlite_DB/build/CMakeFiles/sqlitedb_testing_open.dir/open_db.cpp.o.d
sqlite_DB/build/CMakeFiles/sqlitedb_testing_open.dir/progress.make
sqlite_DB/build/CMakeFiles/sqlitedb_testing_select.dir/build.make
sqlite_DB/build/CMakeFiles/sqlitedb_testing_select.dir/cmake_clean.cmake
sqlite_DB/build/CMakeFiles/sqlitedb_testing_select.dir/compiler_depend.make
sqlite_DB/build/CMakeFiles/sqlitedb_testing_select.dir/compiler_depend.ts
sqlite_DB/build/CMakeFiles/sqlitedb_testing_select.dir/depend.make
sqlite_DB/build/CMakeFiles/sqlitedb_testing_select.dir/DependInfo.cmake
sqlite_DB/build/CMakeFiles/sqlitedb_testing_select.dir/flags.make
sqlite_DB/build/CMakeFiles/sqlitedb_testing_select.dir/link.txt
sqlite_DB/build/CMakeFiles/sqlitedb_testing_select.dir/progress.make
sqlite_DB/build/CMakeFiles/sqlitedb_testing_select.dir/select_db.cpp.o
sqlite_DB/build/CMakeFiles/sqlitedb_testing_select.dir/select_db.cpp.o.d
sqlite_DB/build/CMakeFiles/sqlitedb_testing_update.dir/build.make
sqlite_DB/build/CMakeFiles/sqlitedb_testing_update.dir/cmake_clean.cmake
sqlite_DB/build/CMakeFiles/sqlitedb_testing_update.dir/compiler_depend.make
sqlite_DB/build/CMakeFiles/sqlitedb_testing_update.dir/compiler_depend.ts
sqlite_DB/build/CMakeFiles/sqlitedb_testing_update.dir/depend.make
sqlite_DB/build/CMakeFiles/sqlitedb_testing_update.dir/DependInfo.cmake
sqlite_DB/build/CMakeFiles/sqlitedb_testing_update.dir/flags.make
sqlite_DB/build/CMakeFiles/sqlitedb_testing_update.dir/link.txt
sqlite_DB/build/CMakeFiles/sqlitedb_testing_update.dir/progress.make
sqlite_DB/build/CMakeFiles/sqlitedb_testing_update.dir/update_db.cpp.o
sqlite_DB/build/CMakeFiles/sqlitedb_testing_update.dir/update_db.cpp.o.d
